{# empty Twig template #}
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Adresse</th>
      <th>Complément</th>
      <th>Cp</th>
      <th>Ville</th>
      <th>Tel</th>
    </tr>
  </thead>
  <tbody>
    {% for client in lesClients %}
        <tr>
          <td> {{ client.getId() }}</td>
          <td> {{ client.getTitreCli() }}</td>
          <td> {{ client.getNomCli() }}</td>
          <td> {{ client.getPrenomCli() }}</td>
          <td> {{ client.getAdresseRue1Cli() }}</td>
          <td> {{ client.getAdresseRue2Cli() }}</td>
          <td> {{ client.getCpCli() }}</td>
          <td> {{ client.getVilleCli() }}</td>
          <td> {{ client.getTelCli() }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>